@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cormorant&family=Dancing+Script&family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.cormorant {
  font-family: "Cormorant", serif;
}

.acme {
  font-family: "Acme", sans-serif;
}

.tr-right {
  transform: translateX(8px);
}

.tr-left {
  transform: translateX(-8px);
}

.zoom {
  transition: transform 0.8s;
}
.appear {
  transition: opacity 0.8s;
  opacity: 0;
}

.collection-wrapper:hover > .zoom {
  transform: scale(1.2);
}
.collection-wrapper:hover > .appear {
  opacity: 80%;
}

.product-wrapper:hover > .zoom {
  transform: scale(1.2);
}
.product-wrapper:hover > .appear {
  opacity: 30%;
}

.ant-carousel,
.slick-slider,
.slick-list {
  height: 100% !important;
}

.parallax {
  /* The image used */
  background-image: url("./assets/hero.webp");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("./assets/baking.gif");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
