@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cormorant&family=Dancing+Script&family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.cormorant {
  font-family: "Cormorant", serif;
}

.acme {
  font-family: "Acme", sans-serif;
}

.tr-right {
  transform: translateX(8px);
}

.tr-left {
  transform: translateX(-8px);
}

.zoom {
  transition: transform 0.8s;
}
.appear {
  transition: opacity 0.8s;
  opacity: 0;
}

.collection-wrapper:hover > .zoom {
  transform: scale(1.2);
}
.collection-wrapper:hover > .appear {
  opacity: 80%;
}

@media only screen and (max-width: 768px) {
  .appear {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
  }
}

.product-wrapper:hover > .zoom {
  transform: scale(1.2);
}
.product-wrapper:hover > .appear {
  opacity: 30%;
}

.ant-carousel,
.slick-slider,
.slick-list {
  height: 100% !important;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxBg1 {
  background-image: url("./assets/hero.webp");
}

.parallaxBg2 {
  background-image: url("./assets/baking.gif");
}

.cover .ant-image-img {
  object-fit: cover;
}

.ant-form-item {
  margin-bottom: 16px !important;
}
